/* .logout_button {
    display: flex;
    justify-content: flex-end;
    border: 0;
    min-height: 40px;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #efefef;
    font-size: 16px;
    color: black;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    font-family: Arial, Helvetica, sans-serif;
} */