*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    -red-btn: red;
    -red-btn-hover:rgb(197, 22, 22);

}

.edit-user-pin-container {
    margin: 0;
    height: 70vh;
    width: 90vh;
}

.edit-user-pin-form {
    width: 100%;
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 4rem;
    border-radius: 10px;
}

.title-section {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: row;
}

.title {
    font-weight: 800;
}

.content-section {
    display: grid;
    grid-template-columns: 60% 40%;
}

.right-side {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.pin-image {
    height: 100%;
    width: 80%;
    border-radius: 10px;
}

.left-part-container {
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    /* justify-content: space-around; */
    width: 100%;
    /* background-color: aquamarine; */
    margin-right: 10px
}

.form-content {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

label {
    box-sizing: content-box;
    width: 180px;
    font-size: 12px;
    font-weight: bold;
}

input {
    background-color: transparent;
    display: flex;
    min-height: 48px;
    width: 180px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #ddd;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 15px;
    outline: none;
    transition-duration: .3s;
    font: 4px solid #d0d0d0;

}

input:focus {
    border-color: #4a8ad4;
}

.textarea {
    min-height: 80px;
}

.button-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

}

.button-section {
    margin-top: 20px;
}

.button-grey {
    display: flex;
    justify-content: flex-end;
    border: 0;
    min-height: 40px;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #efefef;
    font-size: 16px;
    color: black;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    font-family: Arial, Helvetica, sans-serif;
}


.cancel-save-button-container {
    display: flex;
}

.new-board-form {
    display:flex;
    flex-direction: column;
}
textArea {
    background-color: transparent;
    display: flex;
    min-height: 48px;
    width: 180px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #ddd;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    transition-duration: .3s;
}
.create-new-board-button {
    display: flex;
    border: 0;
    min-height: 40px;
    min-width: 160px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #e60023;
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    margin-left: 20em;
}
.create-new-board-button-div {
    margin-bottom: 10px;
}

.delete-button {
    display: flex;
    border: 0;
    min-height: 40px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #e60023;
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    margin-left: 20em;
}
.delete-button-container {
    margin-bottom: 10px;
}

.cancel-button {
    display: flex;
    border: 0;
    min-height: 40px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #e60023;
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    margin-bottom: 10px;
    margin-left: 20em;
}
.cancel-edit-button {
    display: flex;
    border: 0;
    min-height: 40px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #e60023;
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    margin-left: 20em;
    margin-bottom: 10px;

}
.save-edit-button {
    display: flex;
    border: 0;
    min-height: 40px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #e60023;
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    margin-left: 20em;
}
.save-button {
    display: flex;
    border: 0;
    height: 40px;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 2px 8px 2px 8px;

}
.save-button:hover {
    background-color: rgb(197, 22, 22);
  }
.save-button-div {
    margin-left: 10px;
  }