* {
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

.page-container {
    /* display: grid;
    grid-template-rows:20% auto auto; */
    margin-top: 80px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* height: 50px; */
    /* z-index: 9; */

}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -4 0;
}

.user-initial-button {
    height:120px;
    width:120px;
    overflow:hidden;
    cursor: pointer;
    border: none;
    font-size: 40px;
    font-weight: 700;
    border-radius: 180px;
}

.full-name {
    font-weight: 700;
    color: #111111;
    font-size: 36px;
    margin-top: 10px;

}

.at-username {
    font-size: 16px;
    color:rgb(33, 25, 34);
    font-weight: 400;
    margin-top: 10px;
}

.following-container {
    margin-top: 10px;
}

.followers {
    font-size: 16px;
    font-weight: 700;
}

.icon-section {
    margin-top: 50px;
    display:flex;
    /* background-color:red; */
}

.section2 {
    /* background-color: purple; */
    margin-top: 30px;

}

.button-left {
    margin-left: 10px;
}

.boards-container {
    /* background-color: purple; */
    margin:  10px;
}

.board-card-link {
    text-decoration: none;
}

.boards-container2 {
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 5px;
}

.board-card-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.board-card {
    width: 236px;
    height: 157px;
    border-radius: 16px;
    border: solid black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.unorganized-pins-container {
    display:flex;
    flex-flow: row wrap;
}

.user-pins-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:10px;
    margin-top: 10px;
}

.pin-image {
    cursor:zoom-in;
}
.image-user-container {
    box-sizing: border-box;
    margin-left: 20px;
}

.pin-edit {
    margin-right: -50px;
}

.right-pic-stack {
    display: flex;
    flex-direction: column;
    width:100px;
    overflow: hidden;
}


.left-board-container {
    object-fit: cover;
    overflow: hidden;
    border-right: 2px solid white;
    width: 130px;

}
.upper-board-container {
    object-fit: cover;
    overflow: hidden;
    border-bottom: 2px solid white;

}
.lower-board-container {
    object-fit: cover;
    overflow: hidden;

}



.left-board-pic {
    object-fit: cover;
    width: 130px;
    height: 151px;

}
.upper-board-pic {
    object-fit: cover;
    width:100px;
    height: 75px;

}
.lower-board-pic {
    object-fit: cover;
    width:100px;
    height: 75px;

}

.popup-container-for-followers {
    border-radius: 32px;
    box-shadow: RGB(0 0 0/10%) 0px 1px 20px 0px;
    width: 250px;
    /* border: 2px solid black; */
    padding: 20px;
    position: absolute;
    z-index: 11;
    background-color: white;
    right: 40%;

}

.popup-follower-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-bottom: 5px;
}

.follower {
    text-align: center;
}

.unfollow-toggle-btn {

}

.follow-toggle-btn {
    
}
.create-pin-btn {
    isplay: flex;
    border: 0;
    min-height: 40px;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #e60023;
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    margin-bottom: 5px;
}
.create-board-form {
    display: flex;
    justify-content: flex-end;
    border: 0;
    min-height: 40px;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #efefef;
    font-size: 16px;
    color: black;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.follow-toggle-btn {
    display: flex;
    justify-content: flex-end;
    border: 0;
    min-height: 40px;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
    background-color: #efefef;
    font-size: 16px;
    color: black;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    font-family: Arial, Helvetica, sans-serif;
}
