.page-container {
    display: grid;
    grid-template-rows:20% auto auto;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    height: 100%;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -4 0;
}

.user-initial-button {
    height:120px;
    width:120px;
    overflow:hidden;
    cursor: pointer;
    border: none;
    font-size: 40px;
    font-weight: 700;
    border-radius: 180px;
}

.full-name {
    font-weight: 700;
    color: #111111;
    font-size: 36px;
    margin-top: 10px;

}

.at-username {
    font-size: 16px;
    color:rgb(33, 25, 34);
    font-weight: 400;
    margin-top: 10px;
}

.following-container {
    margin-top: 10px;
}

.followers {
    font-size: 16px;
    font-weight: 700;
}

.icon-section {
    margin-top: 50px;
    display:flex;
    /* background-color:red; */
}

.section2 {
    /* background-color: purple; */
    margin-top: 30px;

}

.button-left {
    margin-left: 10px;
}

.boards-container {
    /* background-color: purple; */
    margin:  10px;
}

.board-card-link {
    text-decoration: none;
}

.boards-container2 {
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 5px;
}

.board-card-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.board-card {
    width: 236px;
    height: 157px;
    border-radius: 16px;
    border: solid black;
    margin-top: 10px;
}

.unorganized-pins-container {
    display:flex;
    flex-flow: row wrap;
}

.user-pins-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:10px;
    margin-top: 10px;
}

.pin-image {
    cursor:zoom-in;
}
.image-user-container {
    box-sizing: border-box;
    margin-left: 20px;
}

.pin-edit {
    margin-right: -50px;
}

.button-section {
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.cancel-save-button-container {
    display:flex;
}

.button {
    border: 0;
    min-height: 40px;
    min-width: 30px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #e60023;
    font-size: 12px;
    color: white;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    width: 6em;
    margin-top: 30px;
    margin-left: 10px
}

.button-grey {
    border: 0;
    min-height: 40px;
    min-width: 30px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #ddd;;
    font-size: 12px;
    color: black;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    width: 6em;
    margin-top: 30px
}
