* {
    box-sizing: border-box;
  }
  .pins-display-page-container {
      margin-top: 80px;
  }

  .pins-container {
      display: flex;
      flex-flow: row wrap;
  }

  .pins-display-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }

  .pin-owner {
      margin-left: 30px;
      margin-top: -6px;
      text-decoration: none;
  }

  .create-pin-icon {
      color: black;

  }
